<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>697008988044-02t76ftcc6gafjhdksi7rggfje2t3ihs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697008988044-02t76ftcc6gafjhdksi7rggfje2t3ihs</string>
	<key>API_KEY</key>
	<string>AIzaSyA3FVuG9fOiHBog_3QmO6akjpoRNjlMG2I</string>
	<key>GCM_SENDER_ID</key>
	<string>697008988044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HongLoc.MindYourNeck</string>
	<key>PROJECT_ID</key>
	<string>mind-your-neck-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>mind-your-neck-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697008988044:ios:88dcec0ae0867971</string>
	<key>DATABASE_URL</key>
	<string>https://mind-your-neck-ios.firebaseio.com</string>
</dict>
</plist>